.title h3 {
  color: rgb(204, 214, 246);
}

.title-about__number {
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  top: 4px;
}

.desc-about p {
  color: rgb(136, 146, 176);
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.strip {
  content: "";
  display: block;
  height: 1px;
  width: 300px;
  background-color: rgb(48, 60, 85);
  position: relative;
  top: -5px;
  margin-left: 20px;
  margin-top: 25px;
}

.list-skills {
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-size: 13px;
  color: rgb(100, 255, 218);
  margin-top: 10px;
}

.list-skills li {
  margin-bottom: 10px;
}
