.contact-title {
  font-weight: 600;
  color: rgb(204, 214, 246);
  font-size: 48px;
  text-align: center;
  margin-top: 32px;
}

.contact-desc {
  color: rgb(136, 146, 176);
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
}

.contact-me {
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
}
